### –û–ø–∏—à–µ–º —Ü–µ–ª–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è:

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–ù–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –ú–æ—è –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö.

–í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
#### –¢–∞–±–ª–∏—Ü–∞ books:
–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- title ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- num_pages ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- publication_date ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

#### –¢–∞–±–ª–∏—Ü–∞ authors:
–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:
- author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- author ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

#### –¢–∞–±–ª–∏—Ü–∞ publishers:
–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:
- publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- publisher ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞.

#### –¢–∞–±–ª–∏—Ü–∞ ratings:
–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:
- rating_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- username ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- rating ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

#### –¢–∞–±–ª–∏—Ü–∞ reviews:
–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö:
- review_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- username ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞ –æ–±–∑–æ—Ä–∞;
- text ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

### –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö

In [1]:
# !pip install sqlalchemy
!pip install --force-reinstall 'sqlalchemy<2.0.0'

Collecting sqlalchemy<2.0.0
  Downloading SQLAlchemy-1.4.49-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.6/1.6 MB 11.3 MB/s eta 0:00:00
Collecting greenlet!=0.4.17 (from sqlalchemy<2.0.0)
  Downloading greenlet-2.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (613 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 613.7/613.7 kB 15.2 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
  Attempting uninstall: greenlet
    Found existing installation: greenlet 2.0.2
    Uninstalling greenlet-2.0.2:
      Successfully uninstalled greenlet-2.0.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.20
    Uninstalling SQLAlchemy-2.0.20:
      Successfully uninstalled SQLAlchemy-2.0.20
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.49 which is incompatible.
Successfully installed greenlet-2.0.2 sqlalchemy-1.4.49

<div class="alert alert-warning"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b>&nbsp;üîß<br>
–Ø –∑–∞–º–µ—Ç–∏–ª —á—Ç–æ –ø–µ—Ä–≤–∞—è —è—á–µ–π–∫–∞ –∏–º–µ–ª–∞ –Ω–æ–º–µ—Ä –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è, –æ—Ç–ª–∏—á–Ω—ã–π –æ—Ç <tt>[1]</tt>. –≠—Ç–æ –º–æ–∂–µ—Ç –ø—Ä–∏–≤–æ–¥–∏—Ç—å –∫ —Ç–æ–º—É, —á—Ç–æ –Ω–µ –≤—ã–∑–æ–≤—É—Ç –æ—à–∏–±–∫—É –∫–∞–∫–∏–µ-—Ç–æ –∏–∑–º–µ–Ω–µ–Ω–∏—è –∫–æ–¥–∞, –∫–æ—Ç–æ—Ä—ã–µ –≤—ã–∑–≤–∞–ª–∏ –±—ã –æ—à–∏–±–∫—É –ø–æ—Å–ª–µ –ø–µ—Ä–µ–∑–∞–ø—É—Å–∫–∞ –Ω–æ—É—Ç–±—É–∫–∞ (–∏–ª–∏ –ø—Ä–∏ –µ–≥–æ –∑–∞–ø—É—Å–∫–µ –Ω–∞ –¥—Ä—É–≥–æ–π –º–∞—à–∏–Ω–µ), –Ω–∞–ø—Ä–∏–º–µ—Ä –ø–æ—Ç–æ–º—É, —á—Ç–æ –≤ –ø–∞–º—è—Ç–∏ —Å–æ—Ö—Ä–∞–Ω—è—é—Ç—Å—è –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ, –∫–æ—Ç–æ—Ä—ã–µ –±—ã–ª–∏ —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω—ã –¥–æ —Ç–æ–≥–æ, –∫–∞–∫ –∫–æ–¥ –±—ã–ª –∏–∑–º–µ–Ω—ë–Ω. –ü–æ—ç—Ç–æ–º—É –≤–∞–∂–Ω–æ –≤—ã–ø–æ–ª–Ω—è—Ç—å —è—á–µ–π–∫–∏ —Å –ø–µ—Ä–≤–æ–π –ø–æ –ø–æ—Å–ª–µ–¥–Ω—é—é —Å—Ç—Ä–æ–≥–æ –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω—ã–º –æ–±—Ä–∞–∑–æ–º –ø–µ—Ä–µ–¥ —Ç–µ–º, –∫–∞–∫ –æ—Ç–ø—Ä–∞–≤–ª—è—Ç—å –∏—Ö –∫–æ–º—É-—Ç–æ.
</div>

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b><br>
    –ü—Ä–æ—â—É –ø—Ä–æ—â–µ–Ω–∏—è, –ø–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π –±—É–¥—É –ø–µ—Ä–µ–∑–∞–ø—É—Å–∫–∞—Ç—å –≤ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ–º –ø–æ—Ä—è–¥–∫–µ<br>
</div>

In [2]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine
from IPython.display import display, HTML

In [3]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'leonidas', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
             'pwd': 'HzMQksJE3m', # –ø–∞—Ä–æ–ª—å
             'host': '89.108.115.89',
             'port': 13482, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
             'db': 'yogadata'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö

connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)

# 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],db_config['pwd'],db_config['host'],db_config['port'],db_config['db'])

# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<div class="alert alert-success"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b>&nbsp;üìù<br>
–≠—Ç–æ –∫–æ–¥ –∏–∑ —Å–ø—Ä–∞–≤–∫–∏, –Ω–æ –µ–≥–æ –º–æ–∂–Ω–æ —É–ª—É—á—à–∏—Ç—å. –ï—Å–ª–∏ –∑–∞–¥–∞—Ç—å –∏–º–µ–Ω–∞ –∫–ª—é—á–∞–º –≤ —Ç–µ–∫—Å—Ç–æ–≤–æ–º —à–∞–±–ª–æ–Ω–µ, —Ç–æ –º–æ–∂–Ω–æ –≥–æ—Ä–∞–∑–¥–æ –∫–æ—Ä–æ—á–µ –∏ —É–¥–æ–±–Ω–µ–µ —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å —Å—Ç—Ä–æ–∫–∏:

    'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
</div>

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b><br>
    –°–ø–∞—Å–∏–±–æ! –ü–æ–º–µ—Ç–∏–ª —Å–µ–±–µ.
</div>

In [4]:
# –∫–∞–∫–∏–µ –µ—â—ë —Ç–∞–±–ª–∏—Ü—ã –¥–æ—Å—Ç—É–ø–Ω—ã –≤ –±–∞–∑–µ
display(pd.io.sql.read_sql('''

SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
      schemaname != 'information_schema';

''', con = engine))

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,clients,leonidas,None,False,False,False,False
1,public,subscriptions,leonidas,None,True,False,False,False
2,public,visits,leonidas,None,True,False,False,False

In [9]:
# —Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∏–ø—ã —Å—Ç–æ–ª–±—Ü–æ–≤ –≤ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö
display(pd.io.sql.read_sql('''
SELECT
    table_name,
    column_name,
    data_type,
    is_nullable
FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name IN ('clients', 'subscriptions', 'visits')
ORDER BY table_name, column_name;
''', con = engine))

       table_name   column_name                    data_type is_nullable
0         clients        gender                         text         YES
1         clients          unid                         text         YES
2   subscriptions     abonement                         text         YES
3   subscriptions     client_id                         text         YES
4   subscriptions         ctime  timestamp without time zone          NO
5   subscriptions      end_date                         date         YES
6   subscriptions  lessons_left                      integer         YES
7   subscriptions         mtime  timestamp without time zone          NO
8   subscriptions         sdate  timestamp without time zone          NO
9   subscriptions    start_date                         date         YES
10         visits           aid                      integer          NO
11         visits     book_date  timestamp without time zone         YES
12         visits     client_id                         text         YES
13         visits         ctime  timestamp without time zone          NO
14         visits          kids                      boolean         YES
15         visits        lesson                         text         YES
16         visits     lesson_id                      integer          NO
17         visits         mtime  timestamp without time zone          NO
18         visits        status                         text         YES
19         visits    trainer_id                         text         YES
20         visits    visit_date                         date         YES

### –ò—Å—Å–ª–µ–¥—É–µ–º —Ç–∞–±–ª–∏—Ü—ã ‚Äî –≤—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏:

In [45]:
# —Å–º–æ—Ç—Ä–∏–º –Ω–∞ –∑–Ω–∞—á–µ–Ω–∏—è –≤ 5 –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫–∞—Ö
display(pd.io.sql.read_sql('''
SELECT *
FROM clients
ORDER BY unid
LIMIT 5;
''', con = engine))

                        unid gender
0  0046ebbaf63abc7150d07d1ae      F
1  0073e6829cbc67dc1e1467a07      M
2  00a7fa1e460cd64eae45d6b8f      F
3  0124a52e4e6b6e365402b66d7      F
4  0138e8b4dd238aa77c324e614      M

In [18]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –µ—Å—Ç—å –ª–∏ –∑–Ω–∞—á–µ–Ω–∏—è null:
display(pd.io.sql.read_sql('''
SELECT COUNT(*) AS row
FROM clients
WHERE (gender IS NULL) OR (unid IS NULL)
LIMIT 5;
''', con = engine))

   row  unique_unid
0    0            0

In [20]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –µ—Å—Ç—å –ª–∏ –¥—É–±–ª–∏ –≤ unid
display(pd.io.sql.read_sql('''
SELECT COUNT(*) AS row, COUNT(DISTINCT unid) AS unique_unid
FROM clients
LIMIT 5;
''', con = engine))

    row  unique_unid
0  1395         1395

In [21]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –µ—Å—Ç—å –ª–∏ –¥—É–±–ª–∏ –≤ unid
display(pd.io.sql.read_sql('''
SELECT gender, COUNT(unid) AS count_unid
FROM clients
GROUP BY gender
LIMIT 5;
''', con = engine))

  gender  count_unid
0      M          60
1      U          94
2      F        1241

–ú—É–∂—á–∏–Ω –≤ 20 —Ä–∞–∑ –º–µ–Ω—å—à–µ

In [32]:
# —Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∏–ø—ã —Å—Ç–æ–ª–±—Ü–æ–≤ –≤ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö
display(pd.io.sql.read_sql('''
SELECT *
FROM subscriptions
LIMIT 5;
''', con = engine))

,sdate,abonement,client_id,lessons_left,start_date,end_date,ctime,mtime
0,2023-09-11 22:25:05,5 –∑–∞–Ω—è—Ç–∏–π,7989580efbcd02e1226addbd9,4,2023-09-11,2023-11-11,2023-09-12 20:35:10.891991,2023-09-12 20:49:25.133746
1,2023-09-08 11:26:17,5 –∑–∞–Ω—è—Ç–∏–π,7fc6446ef711b721fbb35fb63,1,2023-09-08,2023-11-08,2023-09-12 20:35:10.891991,2023-09-14 18:47:48.976594
2,2023-08-18 00:47:51,5 –∑–∞–Ω—è—Ç–∏–π,c53a3bfcd09fb9d493ca9d511,1,2023-09-02,2023-11-02,2023-09-12 20:30:07.494995,2023-09-14 18:47:48.976594
3,2023-08-01 13:04:49,20 –∑–∞–Ω—è—Ç–∏–π,db4af14a318d39c767e19877b,17,2023-07-31,2024-02-01,2023-09-12 20:30:07.494995,2023-09-14 18:47:48.976594
4,2023-07-25 19:03:44,5 –∑–∞–Ω—è—Ç–∏–π,47b0ebaec83e50887c1070e32,2,2023-07-24,2023-09-23,2023-09-12 20:30:07.494995,2023-09-14 18:47:48.976594

?_—á—Ç–æ –∑–∞ —Å—Ç–æ–ª–±—Ü—ã ctime 	mtime? (—É –î–º–∏—Ç—Ä–∏–π —Å–ø—Ä–æ—Å–∏–ª)

In [24]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –µ—Å—Ç—å –ª–∏ –∑–Ω–∞—á–µ–Ω–∏—è null:
display(pd.io.sql.read_sql('''
SELECT COUNT(*) FILTER (WHERE sdate IS NULL) AS row_sdate_null
  , COUNT(*) FILTER (WHERE abonement IS NULL) AS row_abonement_null
  , COUNT(*) FILTER (WHERE client_id IS NULL) AS row_client_id_null
  , COUNT(*) FILTER (WHERE lessons_left IS NULL) AS row_lessons_left_null
  , COUNT(*) FILTER (WHERE start_date IS NULL) AS row_start_date_null
  , COUNT(*) FILTER (WHERE end_date IS NULL) AS row_end_date_null
  , COUNT(*) FILTER (WHERE ctime IS NULL) AS row_ctime_null
  , COUNT(*) FILTER (WHERE mtime IS NULL) AS row_mtime_null
FROM subscriptions
LIMIT 5;
''', con = engine))

,row_sdate_null,row_abonement_null,row_client_id_null,row_lessons_left_null,row_start_date_null,row_end_date_null,row_ctime_null,row_mtime_null
0,0,2,0,0,0,0,0,0

!_–ï—Å—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã

In [27]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º —Å–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –∞–±–æ–Ω–µ–º–µ–Ω—Ç–æ–≤
display(pd.io.sql.read_sql('''
SELECT COUNT(*) AS count_abonement
FROM subscriptions
LIMIT 5;
''', con = engine))

   count_abonement
0              785

In [30]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º —Å–∫–æ–ª—å–∫–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ–∫—É–ø–∞—é—Ç –∞–±–æ–Ω–µ–º–µ–Ω—Ç—ã
display(pd.io.sql.read_sql('''
SELECT COUNT(DISTINCT client_id) AS unique_client_id
FROM subscriptions
LIMIT 5;
''', con = engine))

   unique_client_id
0               363

In [43]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º client_id - –≤ —Ç–∞–±–ª–∏—Ü–µ —Å –∑–∞–ø–∏—Å—è–º–∏ –µ—Å—Ç—å —Ç–∏–ø–∞ nda (–ø–æ –∏—Ç–æ–≥—É –ø—Ä–æ—Å–º–æ—Ç—Ä–∞ —Ç—É—Ç —Ç–∞–∫–∏—Ö –Ω–µ—Ç)
display(pd.io.sql.read_sql('''
SELECT DISTINCT client_id
FROM subscriptions
ORDER BY client_id
LIMIT 5;
''', con = engine))

                   client_id
0  01a8461e27ceb60e60c8bd52a
1  0269d3117391d8e9ffd14277d
2  02c09ed3b957487d11cfc319e
3  02d848efe2926e48d44cc359c
4  02ee5d0a76790fc795e3f498e

In [29]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º —Å–∫–æ–ª—å–∫–æ –∫–∞–∫–∏—Ö –∞–±–æ–Ω–µ–º–µ–Ω—Ç–æ–≤
display(pd.io.sql.read_sql('''
SELECT abonement, COUNT(client_id) AS count_client_id
FROM subscriptions
GROUP BY abonement
ORDER BY abonement;
''', con = engine))

               abonement  count_client_id
0             10 –∑–∞–Ω—è—Ç–∏–π              152
1             20 –∑–∞–Ω—è—Ç–∏–π               42
2              5 –∑–∞–Ω—è—Ç–∏–π              386
3    8 –∑–∞–Ω—è—Ç–∏–π (–¥–µ—Ç—Å–∫–∏–π)               38
4     –ë–µ—Å–ø–ª–∞—Ç–Ω–æ–µ –∑–∞–Ω—è—Ç–∏–µ               30
5             –í–µ—Å–Ω–∞-2020                3
6  –ü–æ–¥–∞—Ä–æ—á–Ω—ã–π —Å–µ—Ä—Ç–∏—Ñ–∏–∫–∞—Ç                3
7        –ü—Ä–∏–≥–ª–∞—Å–∏—Ç–µ–ª—å–Ω—ã–π               37
8    –ü—Ä–æ–±–Ω—ã–π –±–µ–∑–ª–∏–º–∏—Ç–Ω—ã–π               92
9                   None                2

In [31]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –¥–∏–∞–ø–∞–∑–æ–Ω—ã –¥–∞—Ç –∏ –º–∏–Ω –∏ –º–∞–∫—Å –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è –∑–∞–Ω—è—Ç–∏–π
display(pd.io.sql.read_sql('''
SELECT MIN(sdate) AS min_sdate, MAX(sdate) AS max_sdate
  , MIN(start_date) AS min_start_date, MAX(start_date) AS max_start_date
  , MIN(end_date) AS min_end_date, MAX(end_date) AS max_end_date
  , MIN(ctime) AS min_ctime, MAX(ctime) AS max_ctime
  , MIN(mtime) AS min_mtime, MAX(mtime) AS max_mtime
  , MIN(lessons_left) AS min_lessons_left, MAX(lessons_left) AS max_lessons_left
FROM subscriptions
LIMIT 5;
''', con = engine))

,min_sdate,max_sdate,min_start_date,max_start_date,min_end_date,max_end_date,min_ctime,max_ctime,min_mtime,max_mtime,min_lessons_left,max_lessons_left
0,2020-03-06 13:19:46,2023-09-11 22:26:50,2019-10-14,2023-09-18,2020-03-08,2024-02-01,2023-09-12 20:30:07.494995,2023-09-12 20:35:10.891991,2023-09-12 20:35:10.891991,2023-09-14 18:47:48.976594,-1,17

In [41]:
# —Å–º–æ—Ç—Ä–∏–º –µ—Å—Ç—å –ª–∏ –∫–ª–∏–µ–Ω—Ç—ã —Å –∞–±–æ–Ω–µ–º–µ–Ω—Ç–∞–º–∏, –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –≤ –∫–ª–∏–µ–Ω—Ç–∞—Ö
display(pd.io.sql.read_sql('''
SELECT COUNT(*)
FROM subscriptions
WHERE client_id NOT IN (SELECT unid FROM clients)
LIMIT 5;
''', con = engine))

   count
0      0

In [13]:
# —Å–º–æ—Ç—Ä–∏–º –Ω–∞ ___
display(pd.io.sql.read_sql('''
SELECT *
FROM visits
LIMIT 5;
''', con = engine))

,aid,lesson_id,client_id,status,book_date,visit_date,trainer_id,lesson,kids,ctime,mtime
0,24983,24979,51446b89f58e6e73d3b421c8d,booked,2023-09-09 00:28:09,2023-09-19,2e3e9e5e62f53bcfdd4ef49f7,–ô–æ–≥–∞ –≤ –≥–∞–º–∞–∫–∞—Ö. –î–µ—Ç–∏ 12-15 –ª–µ—Ç. –û–¢–ö–†–´–¢–´–ô –£–†–û–ö,False,2023-09-12 22:51:23.673085,2023-09-12 22:51:23.673085
1,24988,24921,579d883c9fb3055e3c981786c,booked,2023-09-10 17:42:44,2023-09-18,e93a228046b0e849b613db6c6,–ê–≠–†–û–ô–û–ì–ê,False,2023-09-12 22:51:23.673085,2023-09-12 22:51:23.673085
2,24935,24855,579d883c9fb3055e3c981786c,booked,2023-09-06 17:02:43,2023-09-17,24afa988163406000dd31a78d,–ê–≠–†–û–ô–û–ì–ê + –ô–û–ì–ê-–ù–ò–î–†–ê,False,2023-09-12 22:51:23.673085,2023-09-12 22:51:23.673085
3,24986,24985,c53a3bfcd09fb9d493ca9d511,booked,2023-09-10 13:08:59,2023-09-17,0ed1eb34ce87d36b41b5dac1b,–ê–≠–†–û–ô–û–ì–ê,False,2023-09-12 22:51:23.673085,2023-09-12 22:51:23.673085
4,24984,24847,c53a3bfcd09fb9d493ca9d511,booked,2023-09-10 13:01:24,2023-09-14,bc18610c215b8fc4042cce7b4,–•–∞—Ç—Ö–∞ - –π–æ–≥–∞,False,2023-09-12 22:51:23.673085,2023-09-12 22:51:23.673085

In [35]:
# —Å–º–æ—Ç—Ä–∏–º –µ—Å—Ç—å –ª–∏ –∫–ª–∏–µ–Ω—Ç—ã —Å –∑–∞–ø–∏—Å—è–º–∏, –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –≤ –∫–ª–∏–µ–Ω—Ç–∞—Ö
display(pd.io.sql.read_sql('''
SELECT COUNT(*)
FROM visits
WHERE client_id NOT IN (SELECT unid FROM clients)
LIMIT 15;
''', con = engine))

   count
0     11

In [37]:
# —Å–º–æ—Ç—Ä–∏–º –µ—Å—Ç—å –ª–∏ –∫–ª–∏–µ–Ω—Ç—ã —Å –∑–∞–ø–∏—Å—è–º–∏, –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –≤ –∫–ª–∏–µ–Ω—Ç–∞—Ö
display(pd.io.sql.read_sql('''
SELECT *
FROM visits
WHERE client_id NOT IN (SELECT unid FROM clients)
LIMIT 15;
''', con = engine))

,aid,lesson_id,client_id,status,book_date,visit_date,trainer_id,lesson,kids,ctime,mtime
0,24746,24585,"nda_(3,8)",payed,2023-08-24 10:21:50,2023-08-24,d8e976c9b9a9f9a4609a4413c,–•–∞—Ç—Ö–∞ - –π–æ–≥–∞,False,2023-09-12 22:51:23.673085,2023-09-14 18:50:11.929322
1,22961,22679,"nda_(24,32)",payed,2023-03-28 09:41:15,2023-03-30,24afa988163406000dd31a78d,–ê–≠–†–û–ô–û–ì–ê,False,2023-09-12 22:51:23.673085,2023-09-14 18:50:11.929322
2,20687,20386,"nda_(49,9)",payed,2022-12-05 17:49:39,2022-12-05,9b4321a6001006da1a1e56d11,–ê—Ä–æ–º–∞ - –ê—ç—Ä–æ–π–æ–≥–∞,False,2023-09-12 22:51:23.673085,2023-09-14 18:50:11.929322
3,16674,16501,"nda_(100,33)",payed,2022-02-11 10:05:51,2022-02-15,e93a228046b0e849b613db6c6,–ê–≠–†–û–ô–û–ì–ê,False,2023-09-12 22:51:23.673085,2023-09-14 18:50:11.929322
4,16152,16028,"nda_(105,36)",payed,2022-01-11 14:32:44,2022-01-15,a10321740f26a1da16645e644,–ê—ç—Ä–æ—Å—Ç—Ä–µ—Ç—á–∏–Ω–≥ —Å –ê–ª–µ–∫—Å–∞–Ω–¥—Ä–æ–π,False,2023-09-12 22:51:23.673085,2023-09-14 18:50:11.929322
5,14059,13834,"nda_(137,8)",payed,2021-08-28 22:17:40,2021-08-29,a10321740f26a1da16645e644,–ê–≠–†–û–°–¢–†–ï–¢–ß–ò–ù–ì (—Ä–∞—Å—Ç—è–∂–∫–∞ —Å –≥–∞–º–∞–∫–æ–º),False,2023-09-12 22:51:23.673085,2023-09-14 18:50:11.929322
6,9978,9712,"nda_(193,10)",payed,2021-01-27 20:13:38,2021-01-30,0ed1eb34ce87d36b41b5dac1b,–ê–≠–†–û–ô–û–ì–ê,False,2023-09-12 22:51:23.673085,2023-09-14 18:50:11.929322
7,7236,7117,"nda_(228,2)",canceled,2020-09-05 19:38:27,2020-09-06,None,–ê–≠–†–û–ô–û–ì–ê,False,2023-09-12 22:51:23.673085,2023-09-14 18:50:11.929322
8,7243,7073,"nda_(228,9)",payed,2020-09-05 19:49:47,2020-09-05,9b4321a6001006da1a1e56d11,–ê—Ä–æ–º–∞ - –ê—ç—Ä–æ–π–æ–≥–∞,False,2023-09-12 22:51:23.673085,2023-09-14 18:50:11.929322
9,3568,3417,"nda_(234,2)",canceled,2020-07-23 16:36:23,2020-07-23,0ed1eb34ce87d36b41b5dac1b,–ê–≠–†–û–ô–û–ì–ê,False,2023-09-12 22:51:23.673085,2023-09-14 18:50:11.929322
10,2424,2227,"nda_(237,34)",canceled,2020-03-19 17:51:53,2020-03-19,0ed1eb34ce87d36b41b5dac1b,–ê–≠–†–û–ô–û–ì–ê,False,2023-09-12 22:51:23.673085,2023-09-14 18:50:11.929322

–ø–æ–¥–æ–±–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ client_id (—Ç–∏–ø–∞ nda) –Ω–∞ –º–æ–º–µ–Ω—Ç 20230915 –Ω–µ —É–≤–∏–¥–µ–ª

In [38]:
# —Å–º–æ—Ç—Ä–∏–º –µ—Å—Ç—å –ª–∏ –∫–ª–∏–µ–Ω—Ç—ã —Å –∑–∞–ø–∏—Å—è–º–∏, –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –≤ –∫–ª–∏–µ–Ω—Ç–∞—Ö
display(pd.io.sql.read_sql('''
SELECT *
FROM clitnts
WHERE client_id NOT IN (SELECT unid FROM clients)
LIMIT 15;
''', con = engine))

NameError: ignored

In [ ]:
# –≤—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ –ø—è—Ç—å —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã books - –æ–Ω–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:
query = '''
SELECT *
FROM books
LIMIT 5 '''

In [ ]:
engine.execute(query);

In [ ]:
pd.io.sql.read_sql(query, con = engine)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

<div class="alert alert-success"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b>&nbsp;<br>
‚úîÔ∏è –•–æ—Ä–æ—à–æ, —á—Ç–æ –æ–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ—à—å —á–∏—Å–ª–æ –∑–∞–≥—Ä—É–∂–∞–µ–º—ã—Ö –≤ –ø–∞–º—è—Ç—å –ª–æ–∫–∞–ª—å–Ω–æ–π –º–∞—à–∏–Ω—ã —Å—Ç—Ä–æ–∫ —Å—Ä–µ–¥—Å—Ç–≤–∞–º–∏ SQL, –¥–ª—è –∫—Ä—É–ø–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü —ç—Ç–æ –±—É–¥–µ—Ç –∫—Ä–∏—Ç–∏—á–µ—Å–∫–∏ –≤–∞–∂–Ω–æ

–ö—Ä—É—Ç–æ —á—Ç–æ —Ç—ã –Ω–∏–∂–µ –æ—Ç–¥–µ–ª—å–Ω—ã–º –∑–∞–ø—Ä–æ—Å–æ–º —Å–º–æ—Ç—Ä–∏—à—å –Ω–∞ –¥—Ä—É–≥–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏
</div>

In [ ]:
# –≤—ã–≤–µ–¥–µ–º –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∏ –Ω–∞–∏–º–µ–Ω—å—à–µ–µ –∫–æ–ª-–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü –∏ —Å–∞–º—É—é —Ä–∞–Ω–Ω—é—é –∏ —Å–∞–º—É—é –ø–æ–∑–¥–Ω—é—é –¥–∞—Ç—ã –ø—É–±–ª–∏–∫–∞—Ü–∏–∏, –∫–æ–ª-–≤–æ —Å—Ç—Ä–æ–∫:
query = '''
SELECT  MAX(num_pages) AS max_num_pages,
        MIN(num_pages) AS min_num_pages,
        MAX(publication_date) AS max_date,
        MIN(publication_date) AS min_date,
        COUNT(*)
FROM books
'''

In [ ]:
engine.execute(query);

In [ ]:
pd.io.sql.read_sql(query, con = engine)

   max_num_pages  min_num_pages    max_date    min_date  count
0           2690             14  2020-03-31  1952-12-01   1000

In [ ]:
# –¥–∞–ª–µ–µ –≤—ã–≤–µ–¥–µ–º –ø—è—Ç—å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã authors - –æ–Ω–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:
query = '''
SELECT *
FROM authors
LIMIT 5 '''

In [ ]:
engine.execute(query);

In [ ]:
pd.io.sql.read_sql(query, con = engine)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [ ]:
# –¥–∞–ª–µ–µ –≤—ã–≤–µ–¥–µ–º –ø—è—Ç—å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã publishers - –æ–Ω–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:
query = '''
SELECT *
FROM publishers
LIMIT 5 '''

In [ ]:
engine.execute(query);

In [ ]:
pd.io.sql.read_sql(query, con = engine)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

In [ ]:
# –¥–∞–ª–µ–µ –≤—ã–≤–µ–¥–µ–º –ø—è—Ç—å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã ratings - –æ–Ω–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:
query = '''
SELECT *
FROM ratings
LIMIT 5 '''

In [ ]:
engine.execute(query);

In [ ]:
pd.io.sql.read_sql(query, con = engine)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [ ]:
# –ø–æ—Å–º–æ—Ç—Ä–∏–º –º–∞–∫—Å–∏–º–∞–ª—å–Ω—É—é –∏ –º–∏–Ω–∏–º–∞–ª—å–Ω—É—é –æ—Ü–µ–Ω–∫—É –∫–Ω–∏–≥:
query = '''
SELECT MAX(rating) AS max_rating,
       MIN(rating) AS min_rating
FROM ratings
'''

In [ ]:
engine.execute(query);

In [ ]:
pd.io.sql.read_sql(query, con = engine)

   max_rating  min_rating
0           5           1

In [ ]:
# –Ω–∞ –ø–æ—Å–ª–µ–¥–æ–∫ –≤—ã–≤–µ–¥–µ–º –ø—è—Ç—å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã reviews - –æ–Ω–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö:
query = '''
SELECT *
FROM reviews
LIMIT 5 '''

In [ ]:
engine.execute(query);

In [ ]:
pd.io.sql.read_sql(query, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

<div class="alert alert-success"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b>&nbsp;üìù<br>
–•–æ—Ä–æ—à–æ! –ú—ã –ø–æ–∑–Ω–∞–∫–æ–º–∏–ª–∏—Å—å —Å –¥–∞–Ω–Ω—ã–º–∏: –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏ —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ —Ç–∞–±–ª–∏—Ü –∏ –∑–∞–æ–¥–Ω–æ –ø—Ä–æ–≤–µ—Ä–∏–ª–∏ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å —Å–µ—Ä–≤–µ—Ä–æ–º. –ù–∏–∂–µ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –ø–æ–ª–µ–∑–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–≥—É—Ç –ø–æ–º–æ—á—å –≤ –±—É–¥—É—â–µ–º
</div>

In [ ]:
# –ö–û–î –†–ï–í–¨–Æ–ï–†–ê
# –∫–∞–∫–∏–µ –µ—â—ë —Ç–∞–±–ª–∏—Ü—ã –¥–æ—Å—Ç—É–ø–Ω—ã –≤ –±–∞–∑–µ
display(pd.io.sql.read_sql('''

SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
      schemaname != 'information_schema';

''', con = engine))


# —Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∏–ø—ã —Å—Ç–æ–ª–±—Ü–æ–≤ –≤ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö
display(pd.io.sql.read_sql('''
SELECT
    table_name,
    column_name,
    data_type,
    is_nullable
FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name IN ('books', 'authors', 'publishers', 'ratings', 'reviews');
''', con = engine))

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,orders,praktikum_admin,None,True,False,False,False
1,public,visits,praktikum_admin,None,True,False,False,False
2,public,advertisment_costs,praktikum_admin,None,True,False,False,False
3,public,authors,praktikum_admin,None,True,False,True,False
4,public,second,praktikum_student,None,False,False,False,False
5,public,second_b,praktikum_student,None,False,False,False,False
6,public,publishers,praktikum_admin,None,True,False,True,False
7,public,author,praktikum_student,None,True,False,False,False
8,public,reviews,praktikum_admin,None,True,False,True,False
9,public,ratings,praktikum_admin,None,True,False,True,False
10,public,books,praktikum_admin,None,True,False,True,False

    table_name       column_name data_type is_nullable
0      authors         author_id   integer          NO
1      authors            author      text         YES
2   publishers      publisher_id   integer          NO
3   publishers         publisher      text         YES
4      reviews         review_id   integer          NO
5      reviews           book_id   integer         YES
6      reviews          username      text         YES
7      reviews              text      text         YES
8      ratings         rating_id   integer          NO
9      ratings           book_id   integer         YES
10     ratings          username      text         YES
11     ratings            rating   integer         YES
12       books           book_id   integer          NO
13       books         author_id   integer         YES
14       books             title      text         YES
15       books         num_pages   integer         YES
16       books  publication_date      date         YES
17       books      publisher_id   integer         YES

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b><br>
    –û–ø—è—Ç—å —Å–ø–∞—Å–∏–±–æ! –ö–∞–∂–¥—ã–π —Ç–≤–æ–π —Å–æ–≤–µ—Ç –¥–µ–ª–∞–µ—Ç –∂–∏–∑–Ω—å –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ –ø–æ–Ω—è—Ç–Ω–µ–µ)
</div>

### –ü–æ—Å—á–∏—Ç–∞–µ–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞:

In [ ]:
# –°–¥–µ–ª–∞–µ–º –æ–¥–Ω–∏–º SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏—è, –≤—ã–≤–µ–¥–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø—Ä–æ—Å–∞ –≤ —Ç–µ—Ç—Ä–∞–¥–∫–µ:

In [ ]:
display(pd.io.sql.read_sql('''
SELECT COUNT(*)
FROM books
WHERE publication_date > '2000-01-01'
''', con = engine))

   count
0    819

In [ ]:
display(pd.io.sql.read_sql('''
SELECT COUNT(*)
FROM books
WHERE publication_date >= '2000-01-01'
''', con = engine))

   count
0    821

#### –û–ø–∏—à–µ–º –≤—ã–≤–æ–¥—ã:
–° –Ω–∞—á–∞–ª–∞ 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 821 –∫–Ω–∏–≥–∞ –∏–∑ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—â–∏—Ö –ë–î
–ü–æ—Å–ª–µ 01 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥ –∏–∑ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—â–∏—Ö –ë–î

<div class="alert alert-success"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b>&nbsp;<br>
‚úîÔ∏è –¢—É—Ç –≤—Å—ë –≤–µ—Ä–Ω–æ. –°—Ä–∞–±–æ—Ç–∞–ª –±—ã –∏ –∑–∞–ø—Ä–æ—Å —Å —Ç–∞–∫–∏–º —É—Å–ª–æ–≤–∏–µ–º:

    publication_date >= '2000-01-01'

–ï—Å–ª–∏ —Å–ª–µ–¥–æ–≤–∞—Ç—å –≤–æ–ø—Ä–æ—Å—É –±—É–∫–≤–∞–ª—å–Ω–æ, —Ç–æ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –¥–µ–ª–∞—Ç—å —Å—Ç—Ä–æ–≥–æ–µ —Å—Ä–∞–≤–Ω–µ–Ω–∏–µ, –Ω–µ –≤–∫–ª—é—á–∞—è –∫–Ω–∏–≥–∏, –æ–ø—É–±–ª–∏–∫–æ–≤–∞–Ω–Ω—ã–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞, –Ω–æ –ø–æ –æ–ø—ã—Ç—É –æ–±—ã—á–Ω–æ –Ω—É–∂–Ω—ã –¥–∞–Ω–Ω—ã–µ —Å —Å–∞–º–æ–≥–æ –Ω–∞—á–∞–ª–∞ –≥–æ–¥–∞. –í –ø–æ–¥–æ–±–Ω—ã—Ö —Å–∏—Ç—É–∞—Ü–∏—è—Ö —Å—Ç–æ–∏—Ç —É—Ç–æ—á–Ω—è—Ç—å —á—Ç–æ –∏–º–µ–Ω–Ω–æ –Ω—É–∂–Ω–æ –∏–ª–∏ —Å–¥–µ–ª–∞—Ç—å –æ–±–∞ –≤–∞—Ä–∏–∞–Ω—Ç–∞, –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ–≤–æ–∑–º–æ–∂–Ω–æ.
    
üí° –ñ–µ–ª–∞—Ç–µ–ª—å–Ω–æ —Å–æ–ø—Ä–æ–≤–æ–∂–¥–∞—Ç—å –∑–∞–ø—Ä–æ—Å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è–º–∏ (–∏—Ö –º–æ–∂–Ω–æ –Ω–∞—á–∏–Ω–∞—Ç—å —Å <tt>--</tt>) –æ —Ç–æ–º, —á—Ç–æ –≤ –Ω—ë–º –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç, —ç—Ç–æ —Ö–æ—Ä–æ—à–∞—è –ø—Ä–∏–≤—ã—á–∫–∞, –æ–Ω–∞ –æ—á–µ–Ω—å –æ–±–ª–µ–≥—á–∞–µ—Ç —á—Ç–µ–Ω–∏–µ –∑–∞–ø—Ä–æ—Å–æ–≤, –æ—Å–æ–±–µ–Ω–Ω–æ –¥–ª–∏–Ω–Ω—ã—Ö.
</div>

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b><br>
    –°–¥–µ–ª–∞–ª –æ–±–∞ –≤–∞—Ä–∏–∞–Ω—Ç–∞.
</div>

### –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É:

In [ ]:
# –¢—É—Ç —É —Ç–∏–º–ª–∏–¥–∞ –Ω–∞–¥–æ —Å–ø—Ä–æ—Å–∏—Ç—å: "–ö–∞–∫–∏–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ –∫–Ω–∏–≥ –≤—ã–≤–æ–¥–∏—Ç—å –∏ —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥?"
# –°–¥–µ–ª–∞–µ–º –æ–¥–Ω–∏–º SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏—è, –≤—ã–≤–µ–¥–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø—Ä–æ—Å–∞ –≤ —Ç–µ—Ç—Ä–∞–¥–∫–µ:

In [ ]:
display(pd.io.sql.read_sql('''
WITH

-- –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏
count_texts AS (SELECT book_id, COUNT(text) AS count_text
                FROM reviews
                GROUP BY book_id
                ),

-- –ø–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏
avg_ratings AS (SELECT book_id, ROUND(AVG(rating), 2) AS avg_rating
                FROM ratings
                GROUP BY book_id
                )

SELECT b.book_id, author_id, title, num_pages, publication_date, publisher_id, count_text, avg_rating
FROM books AS b
LEFT OUTER JOIN count_texts AS ct ON ct.book_id = b.book_id
LEFT OUTER JOIN avg_ratings AS ar ON ar.book_id = b.book_id
ORDER BY avg_rating DESC -- –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–µ

''', con = engine))

,book_id,author_id,title,num_pages,publication_date,publisher_id,count_text,avg_rating
0,17,94,A Dirty Job (Grim Reaper #1),387,2006-03-21,331,4.0,5.00
1,610,250,Tai-Pan (Asian Saga #2),734,2009-09-01,80,2.0,5.00
2,553,257,School's Out‚ÄîForever (Maximum Ride #2),409,2006-05-23,176,3.0,5.00
3,513,178,Piercing the Darkness (Darkness #2),448,2003-06-26,67,2.0,5.00
4,902,558,The War of Art: Break Through the Blocks & Win...,168,2003-04-01,326,2.0,5.00
...,...,...,...,...,...,...,...,...
995,915,580,The World Is Flat: A Brief History of the Twen...,616,2006-04-18,106,3.0,2.25
996,316,321,His Excellency: George Washington,320,2005-11-08,309,2.0,2.00
997,371,625,Junky,208,2003-04-01,210,2.0,2.00
998,202,91,Drowning Ruth,368,2001-07-31,33,3.0,2.00
999,303,291,Harvesting the Heart,453,1995-04-01,212,2.0,1.50

#### –û–ø–∏—à–µ–º –≤—ã–≤–æ–¥—ã:
–í—ã–≤–µ–ª–∏ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É, —É–ø–æ—Ä—è–¥–æ—á–∏–≤ –ø–æ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–µ

<div class="alert alert-warning"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b>&nbsp;üîß<br>
–¢—ã –æ–±—Ä–∞—Ç–∏–ª –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—ã–≤–µ–¥–µ–Ω–Ω—ã—Ö –∑–∞–ø–∏—Å–µ–π –∏ –Ω–∞ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥. –í—ã–≤–µ–¥–µ–Ω–æ –º–µ–Ω—å—à–µ –∫–Ω–∏–≥, —á–µ–º –µ—Å—Ç—å –≤ –±–∞–∑–µ, –∞ –Ω–∞–º –Ω—É–∂–Ω–æ –≤—ã–≤–µ—Å—Ç–∏ –≤—Å–µ –∫–Ω–∏–≥–∏. –í–Ω–∏–º–∞—Ç–µ–ª—å–Ω–µ–µ –ø–æ—Å–º–æ—Ç—Ä–∏ –Ω–∞ —Ç–æ, –∫–∞–∫ —Ç—ã –æ–±—ä–µ–¥–∏–Ω—è–µ—à—å —Ç–∞–±–ª–∏—Ü—ã.
</div><div class="alert alert-warning">üí° –õ—É—á—à–µ —Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ–¥–æ–±–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã –ø–æ –∫–∞–∫–∏–º-—Ç–æ –ø–æ–∫–∞–∑–∞—Ç–µ–ª—è–º.</div>

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b><br>
    –ò–∑–º–µ–Ω–∏–ª –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ, —Å–ø–∞—Å–∏–±–æ.
</div>

<div class="alert alert-success"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ 2&nbsp;<big>üëç</big></b></div>

### –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã:

In [ ]:
# –°–¥–µ–ª–∞–µ–º –æ–¥–Ω–∏–Ω SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏—è, –≤—ã–≤–µ–¥–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø—Ä–æ—Å–∞ –≤ —Ç–µ—Ç—Ä–∞–¥–∫–µ:

In [ ]:
display(pd.io.sql.read_sql('''
SELECT p.publisher, COUNT (book_id) AS count_books
FROM books AS b
LEFT OUTER JOIN publishers AS p ON b.publisher_id = p.publisher_id
WHERE num_pages > 50 -- –∫–Ω–∏–≥–∏ –≤ –∫–æ—Ç–æ—Ä—ã—Ö –±–æ–ª—å—à–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü
GROUP BY p.publisher -- —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ –∏–∑–¥–∞—Ç–µ–ª—é
ORDER BY count_books DESC -- —É–ø–æ—Ä—è–¥–æ—á–∏–º –ø–æ —É–±—ã–≤–∞–Ω–∏—é –ø–æ –∫–æ–ª-–≤—É –∫–Ω–∏–≥
LIMIT 1 -- –≤–æ–∑—å–º–µ–º –∏–∑–¥–∞—Ç–µ–ª—è —É –∫–æ—Ç–æ—Ä–æ–≥–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –≤—ã–ø—É—â–µ–Ω–æ –∫–Ω–∏–≥
''', con = engine))

       publisher  count_books
0  Penguin Books           42

#### –û–ø–∏—à–µ–º –≤—ã–≤–æ–¥—ã:
–ù–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books, –∫–æ–ª-–≤–æ –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö —ç—Ç–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ–º –∫–Ω–∏–≥ –ø–æ–ø–∞–¥–∞—é—â–∏—Ö –ø–æ–¥ –∑–∞–¥–∞–Ω–Ω—ã–π –∫—Ä–∏—Ç–µ—Ä–∏–π —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 42.

<div class="alert alert-success"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b>&nbsp;üëç<br>
–°–æ–≤–µ—Ä—à–µ–Ω–Ω–æ –≤–µ—Ä–Ω–æ, —ç—Ç–æ –ø—Ä–∞–≤–∏–ª—å–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –∏ –æ–Ω–æ –æ–¥–Ω–æ, –∫–∞–∫ –Ω–∞—Å –ø—Ä–æ—Å–∏–ª–∏.
</div>

### –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏:

In [ ]:
# –°–¥–µ–ª–∞–µ–º –æ–¥–Ω–∏–Ω SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏—è, –≤—ã–≤–µ–¥–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø—Ä–æ—Å–∞ –≤ —Ç–µ—Ç—Ä–∞–¥–∫–µ:

In [ ]:
display(pd.io.sql.read_sql('''
WITH

-- –æ—Ç–æ–±—Ä–∞–ª–∏ –∫–Ω–∏–≥–∏ —É –∫–æ—Ç–æ—Ä—ã—Ö 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫ –∏ –ø–æ—Å—á–∏—Ç–∞–ª–∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É —Ç–∞–∫–∏—Ö –∫–Ω–∏–≥
avg_ratings AS (SELECT MIN(b.author_id) AS author_id,  AVG(rating) AS avg_rating
                FROM ratings AS r
                LEFT OUTER JOIN books AS b ON r.book_id = b.book_id
                GROUP BY b.book_id
                HAVING COUNT(rating_id) >= 50 -- –≤–∑—è–ª–∏ –∫–Ω–∏–≥–∏ —É –∫–æ—Ç–æ—Ä—ã—Ö –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫
                )

SELECT author, ROUND(AVG(avg_rating),2) AS avg_avg_rating
FROM avg_ratings AS ar
LEFT OUTER JOIN authors AS a ON a.author_id = ar.author_id  -- –∫–æ –≤—Å–µ–º author_id –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã–º –≤–æ –≤—Ä–µ–º.—Ç–∞–±–ª–∏—Ü–µ –¥–æ–±–∞–≤–∏–º –∏–º—è –∞–≤—Ç–æ—Ä–∞
GROUP BY a.author_id  -- —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ –∞–≤—Ç–æ—Ä—É
ORDER BY avg_avg_rating DESC --—É–ø–æ—Ä—è–¥–æ—á–∏–º –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏ –ø–æ —É–±—ã–≤–∞–Ω–∏—é
LIMIT 1 -- –≤–æ–∑—å–º–µ–º –∞–≤—Ç–æ—Ä–∞ —Å –Ω–∞–∏–≤—ã—Å—à–µ–π –æ—Ü–µ–Ω–∫–æ–π


''', con = engine))

                       author  avg_avg_rating
0  J.K. Rowling/Mary GrandPr√©            4.28

<div class="alert alert-danger"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b>&nbsp;üîß<br>
–ù–µ –≤—ã–≤–µ–¥–µ–Ω —Å–∞–º —Ä–µ–π—Ç–∏–Ω–≥ –∏ –Ω–µ—Ç—É –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –ø–æ –∞–≤—Ç–æ—Ä–∞–º - –ø–æ —Å—É—Ç–∏ –≤—ã–≤–µ–¥–µ–Ω –∞–≤—Ç–æ—Ä —Å–∞–º–æ–π —Ä–µ–π—Ç–∏–Ω–≥–æ–≤–æ–π –∫–Ω–∏–≥–∏ –∏–∑ —Ç–µ—Ö, —á—Ç–æ —Å 50 —Å—Ç—Ä–∞–Ω–∏—Ü–∞–º–∏ –∏ –±–æ–ª–µ–µ</div>

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b><br>
    –ò—Å–ø—Ä–∞–≤–∏–ª, –Ω–µ —Ç–∞–∫ –ø—Ä–æ—á–∏—Ç–∞–ª –∏ –ø–æ–Ω—è–ª –∑–∞–¥–∞–Ω–∏–µ. –°–ø–∞—Å–∏–±–æ.
</div>

<div class="alert alert-success"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ 2&nbsp;<big>üëç</big></b></div>

#### –û–ø–∏—à–µ–º –≤—ã–≤–æ–¥—ã:
–ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—É—á–∏—Ç—ã–≤–∞—è —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏) - J.K. Rowling/Mary GrandPr√©, —Å—Ä–µ–¥–Ω–µ–µ —Å—Ä–µ–¥–Ω–∏—Ö –æ—Ü–µ–Ω–æ–∫ –µ–≥–æ –∫–Ω–∏–≥ (—Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏) - 4.28.

### –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

In [ ]:
# –°–¥–µ–ª–∞–µ–º –æ–¥–Ω–∏–Ω SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏—è, –≤—ã–≤–µ–¥–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø—Ä–æ—Å–∞ –≤ —Ç–µ—Ç—Ä–∞–¥–∫–µ:

In [ ]:
display(pd.io.sql.read_sql('''
SELECT ROUND(AVG(count_text), 2)
FROM (SELECT COUNT(text) AS count_text
      FROM reviews
      WHERE username IN (SELECT username
                         FROM ratings
                         GROUP BY username
                         HAVING COUNT(rating) > 50
                        )
      GROUP BY username
     ) AS count_texts
''', con = engine))

   round
0  24.33

#### –û–ø–∏—à–µ–º –≤—ã–≤–æ–¥—ã:
–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ - 24,33

<div class="alert alert-success"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b>&nbsp;‚úîÔ∏è<br>
–ò —ç—Ç–æ... –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç!
</div>

<div class="alert alert-warning"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b>&nbsp;üí°<br>
–°–∞–º —Å–µ–±—è –Ω–µ –ø–æ—Ö–≤–∞–ª–∏—à—å, –Ω–µ –ø–æ–¥—á–µ—Ä–∫–Ω—ë—à—å –≤–∞–∂–Ω–æ—Å—Ç—å –∏ —Å–ª–æ–∂–Ω–æ—Å—Ç—å —Å–≤–æ–µ–π —Ä–∞–±–æ—Ç—ã ‚Äî –Ω–∏–∫—Ç–æ —ç—Ç–æ–≥–æ –¥–µ–ª–∞—Ç—å –∑–∞ —Ç–µ–±—è –Ω–µ –±—É–¥–µ—Ç. –í—ã–≤–æ–¥—ã ‚Äî –∫–∞–∫ —Ä–∞–∑ —Ç–∞–∫–æ–µ –º–µ—Å—Ç–æ, –≥–¥–µ –º–æ–∂–Ω–æ –Ω–∞–ø–æ–º–Ω–∏—Ç—å —Ç–æ–º—É, –∫—Ç–æ –±—É–¥–µ—Ç —Å–º–æ—Ç—Ä–µ—Ç—å –æ—Ç—á—ë—Ç, —á—Ç–æ —Ç—É—Ç –Ω–µ —Ç—è–ø-–ª—è–ø –∏ –≤ –ø—Ä–æ–¥–∞–∫—à–Ω, –∞ –±—ã–ª–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∞ —Å–µ—Ä—å—ë–∑–Ω–∞—è —Ä–∞–±–æ—Ç–∞, –≥–ª—É–±–æ–∫–∏–π –∞–Ω–∞–ª–∏–∑, <s>–∑–∞—Ä–ø–ª–∞—Ç—É –∞–Ω–∞–ª–∏—Ç–∏–∫—É —Ö–æ—Ä–æ—à–æ –±—ã –ø–æ–¥–Ω—è—Ç—å</s>, –∫—Ä–∞—Ç–∫–æ –Ω–∞–ø–æ–º–Ω–∏—Ç—å –æ —Ç–æ–º, —á—Ç–æ –±—ã–ª–æ –¥–æ—Å—Ç–∏–≥–Ω—É—Ç–æ, —á–∏—Ç–∞—Ç–µ–ª—å –º–æ–∂–µ—Ç –±—ã—Ç—å –∫ –∫–æ–Ω—Ü—É —É–∂–µ –æ–± —ç—Ç–æ–º –∑–∞–±—ã–ª.
</div>

### –í—ã–≤–æ–¥—ã:

–í —Ö–æ–¥–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–µ–∫—Ç–∞ –º—ã –ø–æ–∑–Ω–∞–∫–æ–º–∏–ª–∏—Å—å —Å –¥–∞–Ω–Ω—ã–º–∏: –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏ —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ —Ç–∞–±–ª–∏—Ü –∏ –∑–∞–æ–¥–Ω–æ –ø—Ä–æ–≤–µ—Ä–∏–ª–∏ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å —Å–µ—Ä–≤–µ—Ä–æ–º.

–ê–Ω–∞–ª–∏–∑–∏—Ä—É—è —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω–æ–π –ë–î –ø–æ–ª—É—á–∏–ª–∏ —Å–ª–µ–¥—É—é—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é:
- –° –Ω–∞—á–∞–ª–∞ 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 821 –∫–Ω–∏–≥–∞ –∏–∑ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—â–∏—Ö –ë–î, –ø–æ—Å–ª–µ 01 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥ –∏–∑ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—â–∏—Ö –ë–î;
- –í—ã–≤–µ–ª–∏ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É, —É–ø–æ—Ä—è–¥–æ—á–∏–≤ –ø–æ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–µ;
- –ù–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books, –∫–æ–ª-–≤–æ –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö —ç—Ç–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ–º –∫–Ω–∏–≥ –ø–æ–ø–∞–¥–∞—é—â–∏—Ö –ø–æ–¥ –∑–∞–¥–∞–Ω–Ω—ã–π –∫—Ä–∏—Ç–µ—Ä–∏–π —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 42;
- –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—É—á–∏—Ç—ã–≤–∞—è —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏) - J.K. Rowling/Mary GrandPr√©, —Å—Ä–µ–¥–Ω–µ–µ —Å—Ä–µ–¥–Ω–∏—Ö –æ—Ü–µ–Ω–æ–∫ –µ–≥–æ –∫–Ω–∏–≥ (—Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏) - 4.28;
- –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ - 24.33.

![–ê–ø–ø–ª–æ–¥–∏—Å–º–µ–Ω—Ç—ã](https://i.gifer.com/DhG5.gif "–•–ª–æ–ø-—Ö–ª–æ–ø!")

<div class="alert alert-success"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ 2</b>&nbsp;üëç<br>
üéâ –ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å —É—Å–ø–µ—à–Ω—ã–º –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º –ø–æ—Å–ª–µ–¥–Ω–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞! üéÇ
</div>